discord.py
asyncpg
beautifulsoup4
pytz
mystbin-py
pygit2
psutil
python-dateutil
pynacl
humanfriendly
numerize
jishaku @ https://github.com/Gorialis/jishaku/archive/master.zip
discord-ext-menus @ https://github.com/Rapptz/discord-ext-menus/archive/master.zip