https://github.com/tookender/discord.py
asyncpg
beautifulsoup4
pytz
mystbin-py
pygit2
psutil
python-dateutil
pynacl
humanfriendly
numerize
git+https://github.com/Gorialis/jishaku
git+https://github.com/Rapptz/discord-ext-menus