discord.py
asyncpg
git+https://github.com/Gorialis/jishaku
mystbin-py
pygit2
psutil
discord.py
python-dateutil
pynacl
humanfriendly
git+https://github.com/Rapptz/discord-ext-menus
beautifulsoup4